.article__title {
    text-align: center;
}
  
.article__title_font_800 {
    font-weight: 800;
    font-size: 1.18em;
}
  
.paragraph_text_justify {
    text-align: justify;
}

.article__video {
    display: block;
    max-width: 100%;
    border-radius: 10px;
}

.article__composition,
.article__albums {
    line-height: 1.6;
}
