.language-select {
    background-color: var(--main-background-color);
    border: 1px solid var(--main-background-color);
    border-radius: 5px;
    width: 100%;
}

.language-select__list-item {
    color: var(--main-text-color);
    background-color: var(--main-background-color);
}

.language-select__list-item ul {
    padding: 0;
}