.header {
    width: var(--max-width-contents);
    padding: 20px;
}

@media only screen and (max-width: 600px) {
    .header {
        padding-left: 15px;
        padding-right: 15px;
        width: auto;
    }
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 300px) {
    .header__container {
        flex-direction: column-reverse;
        align-items: flex-end;
    }
}
  
.header__title {
    white-space: nowrap;
    text-align: center;
    width: fit-content;
    padding: 10px 30px;
    margin: 20px auto;
}

.header__title_font_big-caveat {
    font-size: 50px;
    font-family: Caveat, sans-serif;
}

.header__description {
    text-align: center;
}

.header__description_font_small-caveat {
    font-size: 30px;
    font-family: Caveat, sans-serif;
}

@media only screen and (max-width: 600px) {
    .header__description_font_small-caveat {
        font-size: 25px;
    }
}

@media only screen and (max-width: 480px) {
    .header__title_font_big-caveat {
        font-size: 30px;
    }
    .header__description_font_small-caveat {
        font-size: 20px;
    }
}
