body, html {
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  background: linear-gradient(to right, #403F44, #1E1B32);
  color: #FFF;
  --max-width-contents: 600px;
  --link-text-color-special-purple: hsl(293, 65%, 30%);
  --link-text-color-special-light: lightgrey;

  --main-text-color: black;
  --main-background-color: hsl(270, 100%, 90%);
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", Helvetica, sans-serif;
}

.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
