body, html {
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  background-color: hsl(270, 100%, 85%);
  color: hsl(240, 100%, 20%);
}

a {
  color: hsl(240, 40%, 20%);
}

#main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  max-width: 600px;
  margin-left: 5px;
  margin-right: 5px;
}

.main-content {
  flex: 1;
  max-width: 600px;
  margin-left: 5px;
  margin-right: 5px;
}

.footer {
  padding: 15px;
  font-size: 10px;
}

#image {
  display: block;
  max-width: 100%;
  border-radius: 10px;
}

.header__title,
.header__description,
.article__title {
  text-align: center;
  font-weight: 800;
}
#img-caption {
  text-align: center;
}

.article__paragraph {
  text-align: justify;
}

.main-content,
.header {
  padding: 20px;
}

@media only screen and (max-width: 600px) {
  .main-content,
  .header {
    padding-left: 15px;
    padding-right: 15px;
  }
}

#main {
  font-family: Helvetica, sans-serif;
  
}
.header__title {
  font-size: 50px;
  font-weight: 900px;
}
#img-caption {
  font-size: 13px;
  font-style: italic;
  margin-top: 5px;
}

@media only screen and (max-width: 600px) {
  .header__title {
    font-size: 30px;
  } 
}


.main-content {
  background-color: hsl(270, 100%, 90%);
  border-radius: 10px;
  box-shadow: 0 0 5px 2px hsl(270, 100%, 80%);
}

.social-media-list {
  list-style-type: none;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .social-media-list {
    padding: 5px;
  } 
}

/* Style all font awesome icons */
.fa {
  padding: 10px;
  width: 80px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 0 5px 2px hsl(270, 100%, 85%);
}

/* Add a hover effect if you want */
.fa:hover {
  transform: scale(1.2);
  box-shadow: 0 0 6px 2px hsl(270, 100%, 80%);
  transition: transform 0.5s;
}

/* Set a specific color for each brand */
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-vk {
  background-color: #4C75A3;
  color: white;
}

.fa-instagram {
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  color: lightgrey;
}

.article__video {
  display: block;
  max-width: 100%;
  border-radius: 10px;
}

.article__social-media {
  margin-top: 40px;
}

.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}


.language-select {
    float: right;
}
